@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Rokkitt:wght@700&display=swap');


$regularFont: 'Mulish',sans-serif;
$headerFont:  'Rokkitt',serif;
$regularFontSize: 16px;
$boldFontSize:32px;

$primaryColor: #046586;
$placeholderColor:#717A90;
$bgColor:#F8EFEF;
$defaultCardColor:#FFFFFF;
$tertiaryColor:#CAD6E4;
$fontColor:#161843;