@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Rokkitt:wght@700&display=swap');

$regularFont: 'Mulish',sans-serif;
$headerFont:  'Rokkit',serif;
$regularFontSize: 16px;
$boldFontSize:32px;

$primaryColor: #046586;
$placeholderColor:#717A90;
$bgColor:#F0D3D3;